@import "tailwindcss";
@plugin "daisyui";

@import "primereact/resources/themes/lara-light-cyan/theme.css";


/* Custom styles */


.tooltip::before {
    content: "";
    position: absolute;
    background-color: #b87f7f; /* Match the tooltip background */
    height: 0.9em;
    width: 0.9em;
    bottom: -0.9em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
  }

  /* Neomorphic effect */
.shadow-neumorphic {
  background: #e0e0e0; /* Light background */
  border-radius: 20px;
  box-shadow: 8px 8px 15px #b8b8b8, 
              -8px -8px 15px #ffffff; /* Inner shadow */
}

.shadow-neumorphic:hover {
  box-shadow: 4px 4px 10px #b8b8b8, 
              -4px -4px 10px #ffffff; /* Lighter shadow on hover */
}

/* DockDemo.css */
.dock-demo {
  position: relative;
}

.dock-window {
 /* Semi-transparent white background */
 /* Blur effect */
  border-radius: 10px; /* Rounded corners */
 /* Light border for depth */
  padding: 40px; /* Padding for content */

}






.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


